.cars {
    h2 {
        color: $color-02;
        font-size: 32px;
    }
    li {
        color: $color-04;

        a {
            background-color: $color-default;
            transition: .5s ease-in-out;
        }

        a:hover {
            background-color: $btn-hover;
            transition: .5s ease-in-out;
            color: #000;
        }
    }
}